@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-3">Welcome to BadBeat</h1>
        <h2 class="display-8">See the odds of improving your poker hand in Texas Hold'em</h2>


        <p>Texas Hold'em is a game of probability and strategy. Strategy is developed from an understanding
        of the probabilities associated with the game.
        Not only do you need to know your odds of winning a hand, you also need to know your
        odds of improving your current hand. As many sites show your odds of winning a hand at different stages,
        this web app is dedicated to showing the
            <b>probabilities of improving your own hand</b> during each round.
        This is an equally important tool for the poker player,
        especially given the fact that you will not know your opponents' hands while playing.</p>
        
    </div>
